<div class="container">
    <header class="header-menu mb-4">
      <h1>Test App</h1>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Menu
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Menu 1</a></li>
          <li><a class="dropdown-item" href="#">Menu 2</a></li>
          <li><a class="dropdown-item" href="#">Menu 3</a></li>
        </ul>
      </div>
    </header>
  
    <h4>Showing {{ recordCount }} Records</h4>
  
    <div class="row">
      <div *ngFor="let person of persons; let i = index" class="col-md-4 col-sm-6 col-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ person.name }}</h5>
            <p class="card-text">
              <strong>Address:</strong> {{ person.address.street }}, {{ person.address.suite }}, {{ person.address.city }}, {{ person.address.zipcode }}
            </p>
            <button class="btn btn-danger" (click)="deletePerson(i)">
              <i class="fas fa-trash-alt"></i> Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  